@import "../../../styles/typography.scss";

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
}

.sectionTask {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskContainer {
    width: 100%;
    height: 45rem;
    padding: 2.4rem;
    border-left: 0.1rem solid var(--primary-600);
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.titleTask {
    @include text(1);
    color: var(--primary-600);
}

.itemList {
    cursor: pointer;
    width: 90%;
    padding: 1.6rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--primary-600);
    display: flex;
    align-items: center;
    gap: 0.8rem;

    &.active {
        opacity: 0.5;
    }
}

.ball {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    border: 0.1rem solid var(--primary-600);
    &.active {
        background-color: var(--background-500);
    }
}

.labelItem {
    @include text(4);
    color: var(--primary-600);
    &.active {
        text-decoration: line-through;
    }
}

.addItem {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 1.2rem;
    border-radius: 0.8rem;
    border: 0.1rem dashed var(--primary-600);
    background-color: var(--background-100);
    cursor: pointer;

    &:hover {
        background-color: var(--background-200);
    }

    &:active {
        background-color: var(--background-100);
    }
}

.addItemLabel {
    @include text(4);
    color: var(--primary-600);

}