@import "../../../styles/typography.scss";

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
}

.sectionTimer, .sectionTask {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundTimer {
    background-color: var(--background-100); 
    height: 39rem;
    width: 64rem; 
    border-radius: 1.6rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.typeTimes {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.typeTimeItem {
    color: var(--primary-600);
    cursor: pointer;
    display: flex;
    align-items: center;
    @include text(3);
    padding: 0.8rem 1.6rem;
    border-bottom: 0.1rem solid var(--primary-600);
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;

    &:hover {
        background-color: var(--background-200);
    }

    &.active {
        cursor: default;
        color: var(--text-50);
        border-bottom: none;
        border-radius: 1.6rem;
        background-color: var(--background-500);
    }
}

.timer {
    width: 100%;
    text-align: center;
    @include text(1);
    font-size: 12.8rem;
    line-height: 16rem;
    color: var(--primary-600);
}

.controls {
    width: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.taskContainer {
    width: 100%;
    height: 45rem;
    padding: 2.4rem;
    border-left: 0.1rem solid var(--primary-600);
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.titleTask {
    @include text(1);
    color: var(--primary-600);
}

.itemList {
    cursor: pointer;
    width: 90%;
    padding: 1.6rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--primary-600);
    display: flex;
    align-items: center;
    gap: 0.8rem;

    &.active {
        opacity: 0.5;
    }
}

.ball {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    border: 0.1rem solid var(--primary-600);
    &.active {
        background-color: var(--background-500);
    }
}

.labelItem {
    @include text(4);
    color: var(--primary-600);
    &.active {
        text-decoration: line-through;
    }
}

.addItem {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 1.2rem;
    border-radius: 0.8rem;
    border: 0.1rem dashed var(--primary-600);
    background-color: var(--background-100);
    cursor: pointer;

    &:hover {
        background-color: var(--background-200);
    }

    &:active {
        background-color: var(--background-100);
    }
}

.addItemLabel {
    @include text(4);
    color: var(--primary-600);

}