@import "../../styles/typography.scss";

.container {
    @include text(4);
    color: var(--text-500);
    background-color: var(--background-100);
}

.iconContainer {
    display: flex;
    height: 100%;
    align-items: flex-start;
}

.icon {
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
    & svg path {
        fill: var(--text-500)
    }
}